{%- set str_from_bool = {True : 'true', False : 'false'} -%}
{%- set block_separator = '	' -%}
{% macro xml_block(element, depth = 0) -%}
 {%- if element is mapping %}
  {% set attributes = [] %}
  {%- for key, value in element.items() %}
   {%- if value is sequence %}
    {% set tagName = key %}
    {% set childs = value %}
   {%- elif value is string %}
    {% do attributes.append(key + '="' + value + '"') %}
   {%- elif value is boolean %}
    {% do attributes.append(key + '="' + str_from_bool[value] + '"') %}
   {%- else %}
<!--The value {{ value }} from the element {{ element }} is not supported  -->
   {%- endif %}
  {%- endfor %}
  {%- if not childs|length %}
{{ block_separator *  depth ~ '<' ~ ([tagName] + attributes)|join(' ') ~ ' />'  -}}
  {%- elif (childs|length == 1) and (childs[0] is string) %}
{{ block_separator *  depth ~ '<' ~ ([tagName] + attributes)|join(' ') ~ '>' ~ childs[0] ~ '</' ~ tagName ~ '>' -}}
  {%- else %}
{{ block_separator *  depth ~ '<' ~ ([tagName] + attributes)|join(' ') ~ '>' -}}
   {%- for child in childs %}
{{ xml_block(child, depth + 1) }}
   {%- endfor %}
{{ block_separator *  depth ~ '</' ~ tagName ~ '>' -}}
  {%- endif %}
 {%- else %}
{{ element }}
 {%- endif %}
{% endmacro -%}
<?xml version="1.0" encoding="UTF-8"?>

{{ xml_block(element) }}
